- if @user_extra_details["statuses"].present?
  %table{:style => "width:100%"}
    - if @user_extra_details["statuses"]["data"].present?
      %tr
        %th{:width => "30%"}
          Status at wall
        %th
          Total Comments
        %th
          Total Likes
      - @user_extra_details["statuses"]["data"].each do |status|
        %tr
          %td
            = status["message"]
          %td
            = (status["comments"].present?) ? status["comments"]["data"].size : 0
          %td
            = (status["likes"].present?) ? status["likes"]["data"].size : 0

  - else
    %tr
      %td{:rowspan=>2}
        No data available
